<% @tasks.each do |task| %>
  <tr>
    <td class="col-md-4 text-center"><%= link_to "Edit", edit_task_path(task), remote: true, class: "btn btn-warning" %></td>
    <td class="col-md-4 text-center"><%= task.title %></td>
    <td class="col-md-4 text-center"><%= link_to "Done", task_delete_path(task), remote: true, class: "btn btn-danger" %></td>
  </tr>
<% end %>
