<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= link_to 'Show', task, class: "btn btn-primary" %></td>
    <td><%= link_to "Edit", edit_task_path(task), remote: true, class: "btn btn-warning" %></td>
    <td><%= link_to "Done", task_delete_path(task), remote: true, class: "btn btn-danger" %></td>
  </tr>
<% end %>
