<div class="well">
  <h1 class="text-center">eMocha TODO app</h1>
</div>

<%= link_to 'New Task', new_task_path, class: "btn btn-success" %>

<br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="task-index">
    <%= render "index" %>
  </tbody>
</table>

<div id="task-modal" class="modal fade">
<div class="modal-dialog">
<div id="inner-task-modal" class="modal-content"></div>
</div>
</div>
