<div class="well">
  <h1 class="text-center">eMocha TODO app</h1>
</div>

<%= link_to "Add Task", new_task_path, remote: true, class: "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
        <th>&nbsp;</th>
        <th class="col-md-4 text-center"><h3>Tasks</h3></th>
        <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody class="task-index">
    <%= render "index" %>
  </tbody>
</table>

<div id="task-modal" class="modal fade">
<div class="modal-dialog">
<div id="inner-task-modal" class="modal-content"></div>
</div>
</div>
